<html>
  <body>
      <table border="1">
          <tr>
              <td width="30">a1</td>
              <td width="50">b1</td>
          </tr>
          <tr height="50"></tr>
          <tr>
              <td width="10">a2</td>
              <td width="20">b2</td>
              <td width="30">c2</td>
          </tr>
          <tr height="50"></tr>
          <tr>
              <td width="10">a3</td>
              <td width="20">b3</td>
              <td width="100">c3</td>
          </tr>
      </table>
  </body>
</html>
