
/* body */
body {
	margin: 0 10px;
	background-color: #fff;
	color: #000;
	font: 12px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
	}

/* links */
a:link {
	color: #00f;
	text-decoration: none;
	}

a:visited {
	color: #00a;
	text-decoration: none;
	}

a:hover {
	color: #f60;
	text-decoration: underline;
	}
	
a:active {
	color: #f60;
	text-decoration: underline;
	}

/* html tags */
th, td, ul, ol, li {
	font: 12px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
	}
		
code, pre	{
	font-family: monaco, 'Courier New', courier, monospace;
	font-size: 10px;
	}

	/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

* html code	{
	font-size: 101%; 
	}

* html pre {
	font-size: 101%; 
	}

h1 code, h2 code, h3 code, h4 code, th code, ol.faq li code { font-size: 95%; font-weight: normal; }

h1	{
	margin: 0 0 15px 0;
	padding: 0;
	font: bold 16px 'Myriad Apple', 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	}
	
h2	{
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 16px;
	color: #000;
	}

.sidebartable {
	border: 1px solid #a1a5a9;
	margin-bottom: 10px;
	}
	
.sidebartable th {
	padding: 4px 8px 4px 10px;
	background: #DBDBDB;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #a1a5a9;
	}
	
.sidebartable td {
	padding: 0 10px 10px;
	font-size: 11px;
	text-align: left;
	vertical-align: top;
	}
	
.sidebartable h2, .sidebartable p, .sidebartable ul {
	margin: 10px 0 2px;
	padding: 0;
	}
	
.sidebartable table td {
	border: none;
	padding: 0;
	vertical-align: middle;
	}

.roundRectBorder {
   width:200px;
  border:3px red solid;
  padding:30px;
}